header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    box-sizing: border-box;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #d3d1d3;
  }

/*Logo*/

.logo {
    width: 33%;
    color: #f6af44;
    margin: 5px 5px;
}

.logo:hover {
    cursor: pointer;
}


/*Search bar*/
.search-container {
    width: 33%;
    margin: 5px 5px;
    display: flex;
  }

.search-bar {
    width: 93%;
}

.search-bar form{
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.search-bar form input[type="text"] {
    display: inline-block;
    width: 89%;
    padding: 0 10px;
    color: #000;
    border: 1px solid #BEBEBE;
    border-radius: 2px 0 0 2px;
    z-index: 2;
}

.search-bar form input:focus {
    border: 1.1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4); 
}

.search-bar form button {
    width: 11%;
    height: 40px;
    border: 1px solid #BEBEBE;
    border-left: 0;
    top: 13px;
    border-radius: 0px 2px 2px 0;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    background-color: #f0f0f0;
    z-index: 1;
  }

.search-bar form button i {
    opacity: .5;
    transition: all .07s ease-in-out
}

.search-bar form button:hover i {
    opacity: .95
}

.search-bar form button:hover {
    background-color: #E4E4E4;
    box-shadow: 0 1px 1px rgba(0,0,0,.15),
        inset 0 0 2px rgba(0,0,0,.05);
    transition: all .07s ease-in-out
}

.mic-button {
    height: 40px;
    width: 7%;
    display: flex;
    align-items: center;
}

.mic-button button{
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.mic-button button i{
    color: #c1c1c1;
}

.mic-button button:hover i{
    color: #767577;
    transition: all .07s ease-in-out
}

/*Notification and Profile button*/
.notif-prof {
    width: 33%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.notif-prof ul{
    margin: 1px 1px;
    padding-left: 15px;
    list-style-type: none;
}

.notif-prof li{
    padding: 5px 0 5px 0px;
}

.notif-prof li:hover{
    background-color: #e5e4e5;
}

.notif-prof a{
    text-decoration: none;
}

.notif-prof a:link{
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 250;
    right: 0;
    font-size: 21px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p{
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown:hover .dropdown-content > ul{
    padding: 0;
}

.dropdown:hover .dropdown-content > ul hr{
    margin: 0;
}

.dropdown:hover .dropdown-content > ul li{
    padding: 5px 10px 5px 10px;
}


.bell-button button{
    border: none;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    background-color: white;
    z-index: 1;
    margin-right: 10px;
}

.bell-button button:hover i{
    color: #767577;
    transition: all .07s ease-in-out
}

.bell-button button i{
    color: #c1c1c1;
}

.bell-button button{
    border: none;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.notif-prof .dropdown button{
    height: 100%;
    width: 40px;
    background-color: #f6af44;
    border-radius: 50%;
    border: none;
    font-size: 13px;
}