main{
    position: absolute;
    left: 250px;
    top: 110px;
    bottom: 0;
    right: 0;
    max-height: calc(100%-110px);
    overflow-y:auto;
}

/*Tags scrollbar section*/
.hs {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
    grid-template-rows: 70px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    
    margin-top: 10px;
    overflow-x:scroll;
    scroll-snap-type: x proximity;
    align-items: center;

  }

  .hs::-webkit-scrollbar{
      display: none;
  }
  
  .hs:before,
  .hs:after {
    content: '';
    width: 10px;
  }

  .category-scroll-bar ul {
    list-style: none;
    padding: 0;
  }
 

  .hs li button{
    color: black;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    background: #ebebeb;
    border: 0px;
    font-size: 25px;
    border-radius: 35px;
}

.hs li button:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
}

/*Video Gallery Section*/
.video-gallery{
    display: grid;
    gap: 15px 10px;
    margin: 5px 20px 5px 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
}

.video-box{
    text-overflow: ellipsis;
    justify-self: stretch;
}

.video-box .video-image{
    height: 85%;
}

.video-box .video-image img{
    width:100%;
    height:100%;
}

.video-box .description{
    position: relative;
    height: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.video-box .description section{
    max-width: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.video-box .description .video-name{
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.video-box .description .user-name{
    font-size: 15px;
    color: #b6b3b3;
}

.video-box .description .fa-ellipsis-v{
    position: absolute;
    right: 5px;
}

.video-image{
    position: relative;
}

.live-box{
    background-color: red;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    padding: 3px 5px 3px 5px;
}

.video-info-box{
    color: white;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 3px 5px 3px 5px;
}

.video-image i{
    display: none;
    position: absolute;
    left: 46%;
    top: 46%;
    color: white;
    font-size: 25px;
}

/*Sticky Footer*/
.main-content-wrap{
    overflow-y:auto;
    min-height: 100%;
    margin-bottom: -142px;
}

.main-content-wrap:after {
    content: "";
    display: block;
}

footer, .main-content-wrap:after {
    height: 142px; 
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position: relative;
    bottom: 0;
}

footer span{
    margin-right: 10px;
}

/*Hovers*/
.live-box:hover{
    cursor: pointer;
}

.video-info-box:hover{
    cursor: pointer;
}

.video-image:hover > img{
    filter: brightness(70%);
}

.video-image:hover > i{
    display: block;
}
.video-image > i:hover{
    cursor: pointer;
}

.video-name:hover{
    color: #839eff;
    cursor: pointer;
}

.video-box .description .user-name:hover{
    color: #839eff;
    cursor: pointer;
}

.description > img:hover{
    cursor: pointer;
}

.description > i:hover{
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    main{
        left:80px;
    }
}