.side-panel{
    position: absolute;
    top: 110px;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #ebebeb;
}

.side-panel .streaming-user-list{
  overflow-y:auto;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  bottom: 200px;
}

.side-panel .streaming-user-list ul{
    margin: 1px 1px;
    padding-left: 15px;
    list-style-type: none;
    font-size: 22px;
}

.user-mini-icon{ 
   border-radius: 50%;
   width: 30px;
   height: 30px;
}

.side-panel .streaming-user-list ul li div, img{ 
    margin-right: 5px;
}

.side-panel .streaming-user-list ul li > div{
    display:inline-flex;
    align-items: center;
    margin-right: 5px;
}

.side-panel .streaming-user-list ul li{
    margin-top: 25px;
    padding: 5px 10px 5px 0px;
    display: flex;
    justify-content: space-between;
}

.side-panel .streaming-user-list ul li:hover{
    background-color: #cecdce;
    cursor: pointer;
}

/*Streaming Live Animation*/
  .blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 10px;
    width: 10px;
    transform: scale(1);
  }

  .blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 5px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  /*Information bloc*/
  .side-panel hr{
    color: white;
    background-color: white;
    position: absolute;
    bottom: 175px;
    width: 100%;
    height: 1px;
    border-width:0;
   }      
  .information-bloc{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      height: 150px;
      margin: 15px 15px 15px 15px;
      font-size: 25px;
      text-align: center;
      background-color: #dfdfdf;
      border-radius: 5px;
  }

  .information-bloc span ::selection{
      color: white;
      background-color: #f6af44;
  }

    /*Social media icon animation*/
      .information-bloc ul {
        display: flex;
        padding-left: 0;
      }
      
      .information-bloc ul li {
        list-style: none;
      }
      
      .information-bloc  ul li a {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 25px;
        margin: 0 10px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
      
      .information-bloc ul li a .icon {
        position: relative;
        color: #262626;
        transition: .5s;
        z-index: 3;
      }

      .information-bloc ul li a:hover {
        cursor: pointer;
      }
      
      .information-bloc ul li a:hover .icon {
        color: #fff;
        transform: rotateY(360deg);
      }
      
      .information-bloc ul li a:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;
        z-index: 2;
      }
      
      .information-bloc ul li a:hover:before {
        top: 0;
      }
      
      .information-bloc ul li:nth-child(1) a:before{
        background: #1486d2;
      }
      
      .information-bloc ul li:nth-child(2) a:before{
        background: #a13590;
      }

      ul li:nth-child(3) a:before {
        background: #3b5999;
      }

@media screen and (max-width: 1200px) {
    .on-small-screen-hide{
        display: none;
    }

    .side-panel .streaming-user-list{
      bottom: 0;
      width: 80px;
      background-color: #ebebeb;
    }

    .side-panel .streaming-user-list ul li:hover{
      background-color: unset;
    }

    .side-panel .streaming-user-list ul li img:hover{
      transform: scale(1.2);
      cursor: pointer;
    }

    .side-panel{
      width: auto;
    } 
}